body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.container {
    margin: 40px;
}

h1 {
    color: #38bdf8;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #334155;
}

tr.anomaly {
    background-color: #ef4444;
    color: white;
    font-weight: bold;
}

tr:hover {
    background-color: #1e293b;
}
